USE [DATOS]
GO
/****** Object:  Table [dbo].[DATOS_PERSONALES]    Script Date: 16/02/2019 01:22:14 p.m. ******/
DROP TABLE [dbo].[DATOS_PERSONALES]
GO
/****** Object:  Table [dbo].[DATOS_CINE]    Script Date: 16/02/2019 01:22:14 p.m. ******/
DROP TABLE [dbo].[DATOS_CINE]
GO
USE [master]
GO
/****** Object:  Database [DATOS]    Script Date: 16/02/2019 01:22:14 p.m. ******/
DROP DATABASE [DATOS]
GO
/****** Object:  Database [DATOS]    Script Date: 16/02/2019 01:22:14 p.m. ******/
CREATE DATABASE [DATOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATOS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATOS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DATOS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATOS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATOS]
GO
/****** Object:  Table [dbo].[DATOS_CINE]    Script Date: 16/02/2019 01:22:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATOS_CINE](
	[ID] [uniqueidentifier] NOT NULL,
	[Clase] [char](1) NOT NULL,
	[Nombre] [char](1) NOT NULL,
	[Apellido] [varchar](1) NOT NULL,
	[FN] [date] NOT NULL,
	[Edad]  AS (datediff(year,[FN],getdate())),
	[Sexo] [char](1) NOT NULL,
	[Email] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATOS_PERSONALES]    Script Date: 16/02/2019 01:22:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATOS_PERSONALES](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [char](1) NOT NULL,
	[Apellido] [char](1) NOT NULL,
	[FN] [date] NOT NULL,
	[Edad]  AS (datediff(year,[FN],getdate())),
	[Sexo] [char](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
